mixin checkbox(title, state)
  label.checkbox
    input(type="checkbox" checked=state=='checked'?true:false disabled=state=='disabled'?true:false)
    span !{title}

mixin color-checkbox(params)
  label.color-checkbox
    input(
      type=params.type?params.type:'checkbox'
      name=params.name?params.name:false
      value=params.value?params.value:false
      checked=params.checked?true:false 
      disabled=params.disabled?true:false)
    span(
      style=`background:${params.color};` 
      data-tippy-content=params.tippy?params.tippy:false)

mixin color-link(color, state, tippy)
  a(href=state?'javascript:void(0);':'#' class=state style=`background:${color};` data-tippy-content=tippy?tippy:false).color-link

mixin detail-checkbox(params)
  label.detail-checkbox
    input(
      type=params.type?params.type:'checkbox'
      name=params.name?params.name:false
      value=params.value?params.value:false
      checked=params.checked?true:false 
      disabled=params.disabled?true:false)
    span(
      data-tippy-content=params.tippy?params.tippy:false) 
      | !{params.value}

mixin detail-link(title, state, tippy)
  a(href=state?'javascript:void(0);':'#' class=state data-tippy-content=tippy?tippy:false).detail-link 
    | #{title}

mixin tab-check-element(title, params = {})
  label.tab-check-element(class=params.size=='small'?'tab-check-element_small':'' data-tippy-content=params.tippy?params.tippy:false)
    input(type="radio" 
      checked=params.state=='checked'?true:false 
      disabled=params.state=='disabled'?true:false)
    span=title

mixin tab-link(title, params = {})
  a.tab-link(href='javascript:void(0);' class=`${params.size=='small'?'tab-link_small':''} ${params.state=='active'?'active':''}`)
    span=title

mixin radio-slide(params = {})
  label.radio-slide
    input(type="checkbox" 
      checked=params.state=='checked'?true:false
      disabled=params.state=='disabled'?true:false)
    span



mixin product-card(type)
  .product-card(data-custom-interaction)
    .product-card__image
      .product-card__labes 
        if type == 2
          .product-card__label.product-card__label_type-new Новинка
        else if type == 3
          .product-card__label.product-card__label_type-popular Популярное
        else if type == 4
          .product-card__label.product-card__label_type-stock Акция
        else if type == 5
          .product-card__label.product-card__label_type-stock Акция
          .product-card__label.product-card__label_type-sale Распродажа

        

      a(href="#").product-card__image-cover
        picture.image.image_cover 
          source(type="image/webp" data-srcset="./img/bvrly8qknw2xhq.webp")
          img(data-src="./img/konteyner_108kh82_500ml_prozrachnyy_pp_1000_100_ 7.jpg", alt="image").lazyload
    
    .product-card__content 
      .product-card__content-top 
        a(href="#" title='тест').product-card__title 
          if type == 3
            | Банка 0,5л
          else if type == 5
            | Банка Оченьдлинноесловокотороенепомещается в строке по какой-то причине
          else 
            | Банка 0,5л D-122 прозрачная ПП
        span.product-card__info Минимальный заказ: 100 шт.

      button.button.button_style-1.cart-button(class=type==2?'cart-button_in-cart':'')
        span.button__inner 
          span В корзину
        span.button__inner
          span В корзинe
