mixin checkbox(title, state)
  label.checkbox
    input(type="checkbox" checked=state=='checked'?true:false disabled=state=='disabled'?true:false)
    span !{title}

mixin color-checkbox(color, state, tippy)
  label.color-checkbox(class=color=='transparent'?'color-checkbox_transparent':'')
    input(type="checkbox" checked=state=='checked'?true:false disabled=state=='disabled'?true:false)
    span(style=color!=='transparent'?`background-color:${color};`:'' data-tippy-content=tippy?tippy:false)

mixin color-link(color, state, tippy)
  a(href=state?'javascript:void(0);':'#' class=color=='transparent'?'color-link_transparent':'' class=state style=color!=='transparent'?`background-color:${color};`:'' data-tippy-content=tippy?tippy:false).color-link

mixin detail-checkbox(title, state)
  label.detail-checkbox
    input(type="checkbox" checked=state=='checked'?true:false disabled=state=='disabled'?true:false)
    span(data-tippy-content=state=='disabled'?'Нет в наличии':false) !{title}

mixin detail-link(title, state)
  a(href=state?'javascript:void(0);':'#' class=state data-tippy-content=state=='disabled'?'Нет в наличии':false).detail-link #{title}

  
mixin product-card(type)
  .product-card(data-custom-interaction)
    .product-card__image
      .product-card__labes 
        if type == 2
          .product-card__label.product-card__label_type-new Новинка
        else if type == 3
          .product-card__label.product-card__label_type-popular Популярное
        else if type == 4
          .product-card__label.product-card__label_type-stock Акция
        else if type == 5
          .product-card__label.product-card__label_type-stock Акция
          .product-card__label.product-card__label_type-sale Распродажа

        

      a(href="#").image.image_cover 
        if type == 2 
          img(data-src="./img/placeholder.svg", alt="image").lazyload
        else 
          img(data-src="./img/konteyner_108kh82_500ml_prozrachnyy_pp_1000_100_ 7.jpg", alt="image").lazyload
    .product-card__content 
      .product-card__content-top 
        a(href="#" title='тест').product-card__title 
          if type == 3
            | Банка 0,5л
          else if type == 5
            | Банка Оченьдлинноесловокотороенепомещается в строке по какой-то причине
          else 
            | Банка 0,5л D-122 прозрачная ПП
        span.product-card__info Минимальный заказ: 100 шт.

      button.button.button_style-1 
        span.button__inner 
          span В корзину
